@import "rose-pine-moon.css";

* {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}

body {
    font-family: 'Maple Mono', monospace;
    font-size: 1.2em;
    color: var(--txt);
    display: flex;
    justify-content: center;
    background-color: var(--bg);
    background-image: url(../assets/29.svg);
}

.outer {
    border: 1px solid var(--accent3);
    border-radius: 1px;
    background-color: var(--bg2);
    margin: 0 10px 10px 0;
    min-width: 350px;
    width: 98vw;
    min-height: 350px;
    height: 98vh;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-rows: 15% 1.5% 73% 6.5%; 
    gap: 1% 0px; 
}

#top { grid-area: 1 / 1 / 2 / 2; }
#separator { grid-area: 2 / 1 / 3 / 2; }
#center { grid-area: 3 / 1 / 4 / 2; }
#footer { grid-area: 4 / 1 / 5 / 2; }

.segment::-webkit-scrollbar {
    display: none;
}
.segment {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid var(--accent1);
    border-radius: 1px;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container {
    width: 100%;
    display: flex;
}

#title {
    width: 20%;
}

#title-text {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title-text h1 {
    font-size: clamp(1em, 1.8vw, 2em);
}

#separator {
    background-color: var(--subtle);
    border-color: var(--subtle);
}

.right {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar-item {
    padding: 0.5rem;
    margin: 0;
}


#content {
    width: 80%;
    text-align: left;
    padding: 1rem;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
}

#content::-webkit-scrollbar {
    display: none;
}

#content img {
    max-width: 50%;
}

#right-image {
    background-image: url(../assets/10.png);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#right-image img {
    object-fit: scale-down;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 4px solid var(--bg);
    border-radius: 1px;
}

ul {
    list-style-type: none; /* No bullets */
    padding: 0;
    margin: 0; /* Reset margins */
}

li {
    margin: 0.2rem 0;
}

a {
    text-decoration: none; /* No underline */
    color: var(--accent3); /* Link color */
}

a:hover {
    font-weight: bold; /* Bold on hover */
    color: var(--accent2); /* Hover color */
}

pre {
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
}

#banner-outer {
    width: 100%;
}

#banner-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .outer {
        grid-template-rows: 15% 1.5% 79.5% 0%;
    }
    #banner-inner, #banner-outer, .right, #footer {
        visibility: hidden;
        display: none;
        clear: both;
        width: 0%;
        height: 0%;
        max-width: 0;
        max-height: 0;
    }
    #title, #content.segment {
        width: 100%;
    }
}
