:root {
--accent1: #eb6f92;
--subtle:  #908caa;
--accent2: #ea9a97;
--accent3: #c4a7e7;
--accent4: #f6c177;
--accent5: #9ccfd8; 
--txt: #e0def4;
--bg: #232136;
--bg2: #2a273f;
--inverted_txt: #575279;
}
